content/doi_schemas/DOIKernelMetadataPartyV0.9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Godfrey Rust (Self) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doi="http://www.doi.org/2004/DOISchema" targetNamespace="http://www.doi.org/2004/DOISchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:element name="kernelMetadata" type="doi:partyKernelMetadata"/>
	<xs:annotation>
		<xs:documentation>DOI party Kernel Metadata Declaration version 1.0</xs:documentation>
	</xs:annotation>
	<xs:complexType name="partyKernelMetadata">
		<xs:sequence>
			<xs:element name="registrationAgencyDoiName" type="doi:doiName">
				<xs:annotation>
					<xs:documentation>The DOI name of the Registration Agency responsible for issuing this Declaration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The date on which this Declaration was issued.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueNumber" type="xs:unsignedInt">
				<xs:annotation>
					<xs:documentation>The sequence number of this Declaration in the series of Kernel Metadata Declarations issued for this DOI name.</xs:documentation>
					<xs:documentation>Original issue=1. If a Kernel Metadata Declaration for a specific DOI name is re-issued, this number should be incremented by one.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referent" type="doi:referentParty">
				<xs:annotation>
					<xs:documentation>The party identified by the DOI name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="referentParty">
		<xs:annotation>
			<xs:documentation>Details of the DOI name and the party which it identifies.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="referentDoiName" type="doi:doiName">
				<xs:annotation>
					<xs:documentation>The specific DOI name allocated to the referentParty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryReferentType" type="doi:primaryReferentType">
				<xs:annotation>
					<xs:documentation>The primaryReferentType of the referentParty is always "party" in this schema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="doi:partyName" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A name or title by which the referentParty is known. </xs:documentation>
					<xs:documentation>For Kernel Metadata in a restricted Application Profile the string "No information available" should be used, with a partyNameType of "name".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identifier" type="doi:partyIdentifier" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identifier of the referentParty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="structuralType" type="doi:partyStructuralType">
				<xs:annotation>
					<xs:documentation>The primary structuralType of the referentParty. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="associatedRole" type="doi:associatedPartyRole" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>For parties, the referentType represents a role with which the party is commonly associated, not necessarily a permanent type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirthOrFormation" type="doi:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date of birth (for an individual or animal) or formation (for an organization) of the referentParty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfDeathOrDissolution" type="doi:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date of death (for an individual or animal) or dissolution (for an organization) of the referentParty.</xs:documentation>
					<xs:documentation>If an organization was dissolved or reformed on one or more occasion, this date should represent the latest date of dissolution, if any. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="associatedTerritory" type="doi:territory" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A territory with which the referentParty is associated (for example, a territory of birth, nationality or residence).</xs:documentation>
					<xs:documentation>As with other elements (dates and referentType) this element is included to support the disambiguation of one party with another.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linkedParty" type="doi:linkedParty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Another party to whom the referentParty is linked, with identification of link role (eg member, department, corporate subsiduary, child, sibling). </xs:documentation>
					<xs:documentation>This element is included in Kernel Metadata as it may be critical for the identification of an organization which exists only as part of another organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="partyName">
		<xs:annotation>
			<xs:documentation>A name by which a party is known.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:string">
				<xs:annotation>
					<xs:documentation>A text string representing the value of the partyName (for example, "John Smith", "ABC Publishing, Inc").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="doi:partyNameType">
				<xs:annotation>
					<xs:documentation>The type of the partyName.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partyIdentifier">
		<xs:annotation>
			<xs:documentation>An identifier used to identify a party.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:string">
				<xs:annotation>
					<xs:documentation>A text string representing the value of the partyIdentifier (for example, "987654321").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="type" type="doi:partyIdentifierType">
				<xs:annotation>
					<xs:documentation>The type of the partyIdentifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="date">
		<xs:annotation>
			<xs:documentation>A date.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:date">
				<xs:annotation>
					<xs:documentation>The value of the date (for example, "1967").</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="proximity" type="doi:timeProximity" use="optional">
			<xs:annotation>
				<xs:documentation>The proximity of the declared date to the actual date (for example, "circa", "not before"). A null value indicates that the date is accurate.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="linkedParty">
		<xs:annotation>
			<xs:documentation>Another party with which the referentParty is associated. At least one of the elements "partyName" or "partyIdentifier" must be present, and at least one of the elements "referentPartyRole" or "linkedPartyRole".</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="doi:partyName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A name by which the linkedParty is known.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identifier" type="doi:partyIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An identifier of the linkedParty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referentPartyRole" type="doi:partyToPartyLinkRole" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A role played by the referentParty in relation to the linkedParty (for example, the referentParty is a corporateSubsidiary of the linkedParty).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linkedPartyRole" type="doi:partyToPartyLinkRole" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A role played by the linkedParty in relation to the referentParty (for example, the linkedParty is a corporateSubsidiary of the referentParty).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="doiName">
		<xs:annotation>
			<xs:documentation>A DOI name issued under the authority of the International DOI Foundation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="10\.[^\./@]+(\.[^\./@]+)*/.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="term">
		<xs:annotation>
			<xs:documentation>A term in the IDF Data Dictionary.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:simpleType name="primaryReferentType">
		<xs:annotation>
			<xs:documentation>Allowed values for the primary type of a referent.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doi:term">
			<xs:enumeration value="party">
				<xs:annotation>
					<xs:documentation>An individual person, animal or organization capable of acting, or being perceived to act, as an agent. </xs:documentation>
					<xs:documentation>Parties may be real, legendary or imaginary, and do not need to be biologically unique. Personas adopted for artistic or other purposes may be referenced with DOIs as unique individuals. For example, the authors "Ellis Peters" "John Redfern" "Jolyon Carr" and "Peter Benedict" may be identified as a unique parties distinct from the person "Edith Pargeter", for whom they are all pen-name pseudonyms. "Mickey Mouse" may be identified as an individual for the purpose of unique identification as a performer in a creation, or "Borat" or "Hamlet" for the identification of a character depicted in a fictional work. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partyStructuralType">
		<xs:annotation>
			<xs:documentation>Allowed values for the primary type of a referent.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doi:term">
			<xs:enumeration value="individual">
				<xs:annotation>
					<xs:documentation>An individual human being, real or imaginary, or an imaginary party attributed with characteristics of a human being (for example, Homer Simpson, Mickey Mouse). </xs:documentation>
					<xs:documentation>Individuals may be real, legendary or imaginary, and do not need to be biologically unique. Personas adopted for artistic or other purposes may be referenced with DOIs as unique individuals. For example, the authors "Ellis Peters" "John Redfern" "Jolyon Carr" and "Peter Benedict" may be identified as a unique parties distinct from the person "Edith Pargeter", for whom they are all pen-name pseudonyms. "Mickey Mouse" may be identified as an individual for the purpose of unique identification as a performer in a creation, or "Borat" or "Hamlet" for the identification of a character depicted in a fictional work. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="organization">
				<xs:annotation>
					<xs:documentation>A party which is either a legal person such as a corporation or legal partnership (but not a human being); or a group of individuals, or a grouip of organizations. </xs:documentation>
					<xs:documentation>Organizations include all groupings of two or more parties, as well as legally defined, non-human parties. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="animal">
				<xs:annotation>
					<xs:documentation>A non-human animal.</xs:documentation>
					<xs:documentation>Animals may require identification for many reasons: for example, as performers ("Lassie").</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timeProximity">
		<xs:annotation>
			<xs:documentation>Allowed values for he proximity of a declared time to the actual time referenced. A null value indicates that the date is accurate.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doi:term">
			<xs:enumeration value="circa">
				<xs:annotation>
					<xs:documentation>A time which is approximately accurate.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="before">
				<xs:annotation>
					<xs:documentation>A time which is before the time stated.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="after">
				<xs:annotation>
					<xs:documentation>A time which is after the time stated.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="notBefore">
				<xs:annotation>
					<xs:documentation>A time which is the same as or after the time stated.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="notAfter">
				<xs:annotation>
					<xs:documentation>A time which is the same as or before the time stated.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partyNameType">
		<xs:annotation>
			<xs:documentation>Allowed values for types of partyName.</xs:documentation>
			<xs:documentation>This is an open set. Other values may be registered with the IDF by any Registration Authority.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doi:term">
			<xs:enumeration value="principalName">
				<xs:annotation>
					<xs:documentation>The name by which a party is principally known.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="name">
				<xs:annotation>
					<xs:documentation>A name by which a party is known.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="formerName">
				<xs:annotation>
					<xs:documentation>A name by which a party was previously known.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partyIdentifierType">
		<xs:annotation>
			<xs:documentation>Allowed values for types of partyIdentifier.</xs:documentation>
			<xs:documentation>This is an open set. Other values may be registered with the IDF by any Registration Authority.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doi:term">
			<xs:enumeration value="proprietaryIdentifier">
				<xs:annotation>
					<xs:documentation>An Identifier from a scheme which is proprietary to a particular party.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ipNumber">
				<xs:annotation>
					<xs:documentation>The CISAC IP (Interested Party) Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="associatedPartyRole">
		<xs:annotation>
			<xs:documentation>Allowed values for a role associated with a party. </xs:documentation>
			<xs:documentation>This is an open set. Other values may be registered with the IDF by any Registration Authority.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doi:term">
			<xs:enumeration value="creator">
				<xs:annotation>
					<xs:documentation>A party known as a creator of creations. This is a generic value which may be used when a more appropriate specific role (such as author or composer) is not available.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="author">
				<xs:annotation>
					<xs:documentation>A party known as a creator of lexical works (words).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="composer">
				<xs:annotation>
					<xs:documentation>A party known as a creator of musical works.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="corporateCreator">
				<xs:annotation>
					<xs:documentation>An organization known for being credited as a creator of creations.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="bookPublisher">
				<xs:annotation>
					<xs:documentation>A party known for publishing books.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="journalPublisher">
				<xs:annotation>
					<xs:documentation>A party known for publishing journals.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="territory">
		<xs:annotation>
			<xs:documentation>Allowed values for a territory.</xs:documentation>
			<xs:documentation>This set will be taken from ISO 3166 - two values included in this version for illustration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doi:term">
			<xs:enumeration value="uk">
				<xs:annotation>
					<xs:documentation>The Territory of the United Kingdom.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="us">
				<xs:annotation>
					<xs:documentation>The Territory of the United States.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partyToPartyLinkRole">
		<xs:annotation>
			<xs:documentation>Allowed values for a role which one party plays in a link to another party. Where roles have complementary pairs (for example, parent-child or member-memberOrganization) only one of these is included in this list, and this role should be associated in the linkedParty element with the appropriate party.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="doi:term">
			<xs:enumeration value="corporateSubsidiary">
				<xs:annotation>
					<xs:documentation>An organization which is a subsidiary of another organization.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="divisionOrDepartment">
				<xs:annotation>
					<xs:documentation>An organization which is a division or department of another organization.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="member">
				<xs:annotation>
					<xs:documentation>A party which is a member of an organization.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="marriagePartner">
				<xs:annotation>
					<xs:documentation>An individual who is married to another individual.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sibling">
				<xs:annotation>
					<xs:documentation>An individual who is a brother or sister of another individual.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="parent">
				<xs:annotation>
					<xs:documentation>An individual who is the parent of another individual.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>

